<style>
    body {
        background-color: chocolate;
        color: white ;
    }
</style>

<h1>VM-AMOS </h1>
<h4>CPU: (AMOS 0.7)  - KERNAL: (V.0.1) - WRITE BY THE AMOS PATREON GROUP<br>MODE: (A500)</h4>

TYPE HELP FOR HELP<br>
>